extends layout
block content
     h1 #{title}
     form.well(action="/findtask", method="post")
      label Find Item:
      input(name="name", type="textbox")
      br
      h1 Search Results
      table.table.table-striped.table-bordered
        tr
          td Name
          td Category
          td Date        
        if (typeof results === "undefined")
          p No Result
        else  
          each result in results
            tr
              td #{result.name}
              td #{result.category}
              - var date  = new Date(result.date);
              - var day   = date.getDate();
              - var month = date.getMonth() + 1;
              - var year  = date.getFullYear();
              td #{month + "/" + day + "/" + year}